.addform_container {
  background-color: rgb(33, 35, 61);
  width: 100%;
  color: white;
}
.addhotel_input_ctn {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.addhotel_input_ctn textarea {
  width: 95%;
  height: 5rem;
  border: 2px solid aqua;
  border-radius: 5px;
}
.addhotel_input_ctn div {
  width: 48%;
}
.addhotel_input_ctn select {
  padding: 0.5rem 1rem;
  width: 96%;
  border: 2px solid aqua;
  border-radius: 5px;
}
.addhotel_input_ctn input {
  padding: 0.5rem 1rem;
  width: 90%;
  border: 2px solid aqua;
  border-radius: 5px;
}
.addhotel_input_ctn input:focus {
  outline: none;
}
.edit_product_imgs {
  display: flex;
}
.edit_product_imgs img {
  width: 50%;
  margin-left: 1px;
}
.addhotel_input_ctn select {
  padding: 0.5rem 1rem;
}

.addform_container button {
  padding: 0.5rem 3rem;
  color: chocolate;
  font-weight: bold;
  margin: 1rem;
}
